body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 40px;
}

.product {
  text-align: center;
}

.product img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.product h3 {
  font-size: 14px;
  margin-top: 10px;
}
 


/* Responsive para celulares menos de 768px*/
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .filters {
    width: 100%;
    display: flex;
    gap: 10px;
  }

  .filters select {
    width: 100%;
  }

  .products {
    padding: 20px;
    gap: 20px;
  }
}


/* Responsive para celulares menos de 480px*/

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .product h3 {
    font-size: 13px;
  }
}

/* Evitar deformación en movil de 480px*/
@media (max-width: 480px) {
  .product img {
    height: 260px;
  }
}


/* Estilo de tienda profesional */

.layout {
  display: flex;
}

/* ---------------------------------------------------- PANEL DE FILTROS ---------------------------------------------------- */
.filters-panel {
  width: 240px;
  padding: 30px;
  border-right: 1px solid #eee;
}

.filters-panel h3 {
  margin-bottom: 20px;
  font-size: 14px;
}

.filter-group {
  margin-bottom: 25px;
}

.filter-group h4 {
  font-size: 13px;
  margin-bottom: 10px;
}

.filter-group label {
  display: block;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 6px;
}

/* PRODUCTOS */
.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  padding: 40px;
}


/* Más responsive para movil */
.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .menu-btn {
    display: block;
  }

  .filters-panel {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: white;
    z-index: 1000;
    transition: 0.3s;
  }

  .filters-panel.active {
    left: 0;
  }
}


@media (max-width: 768px) {
  .filters-panel {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    z-index: 1000;
    transition: left 0.3s ease;
  }
}